* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    /*
    background-image: url(./assets/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    */

     /* background: color image repeat position/size */
background: var(--bg-url) no-repeat top center/cover;
    }

    :root{

   --text-color: white;   
   --bg-url: url(./assets/bg-mobile.jpg);
   --stroke-color: rgba( 255, 255, 255, 0.5);
   --surface-color: rgba( 255, 255, 255, 0.1);
   --surface-color-hover: rgba( 0, 0, 0, 0.02);
   --highlight-color: rgba(255, 255, 255, 0.2);
   --switch-bg-url: url(./assets/moon-stars.svg);

    }

    .light {
        --text-color: black;
        --bg-url: url(./assets/bg-mobile-light.jpg);
        --stroke-color: rgba( 0, 0, 0, 0.5);
        --surface-color: rgba(163, 163, 163, 0.5);
        --surface-color-hover: rgba( 255, 255, 255, 0.1);
        --highlight-color: rgba(0, 0, 0, 0.1);
        --switch-bg-url: url(./assets/sun.svg);
    }
    


    body * {
        font-family: 'Inter', sans-serif;
        color: var(--text-color);
    }
    
    #container { 
        width: 360px;
        
        margin: 56px auto 0px;
        padding: 0 24px;
    }

    #profile {
        text-align: center;
        padding: 24px;
    }

    #profile img {
        width: 112px;
        border-radius: 80%;
    }

    #profile p {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        margin-top: 8px;
    }

#switch{

    
    position: relative;
    width: 64px;
    margin: 4px auto;
}

    #switch button {
        width: 32px;
        height: 32px;
        background-color: white ;
        background-image: var(--switch-bg-url);
        background-repeat: no-repeat;
        background-position: center;
        border: 0;
        border-radius: 50%;


        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        left: 0;
        z-index: 1;

      }

      .light #switch button{
        right: 0;
        left: initial;
      }
      #switch span{
        display: block;
        width: 64px;
        height: 24px;
        background: var(--surface-color);
        border: 1px solid var(--stroke-color);
        border-radius: 9999px;
        /*-webkit-backdrop-filter: blur(4px)*/;

      }

  ul {
    list-style: none;
    display:flex;
    flex-direction: column;
    gap:16px;
    padding: 24px 0;
  }

  ul li a{ 
    display: flex;
    border: 1px solid var(--stroke-color);
    justify-content: center;
    padding: 16px 24px;
    background: var(--surface-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 8px;

    text-decoration: none;
    font-weight: 500;

    transition: background 1.0s;
  }

  ul li a:hover {
    background: var(--surface-color-hover);
        border: 1.5px solid var(--text-color);
    }

    #icon
{
    display:flex;
    gap: 32px;
    padding: 24px 0;
    font-size: 24px;    
    justify-content: center;
}

#icon a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 30%;
    transition: 1.0s;
}

#icon a:hover {
    background: var(--highlight-color);
    border-radius: 50%;
    padding:16px;
}

footer {
    text-align: center;
    font: 500;
    padding: 24px 0;
}
footer a{
    text-decoration: none;
}
footer a:hover{

text-overflow: ellipsis;
}